:root {
    --main-white: #f0f0f0;
    --main-black: #1e1c1c;
    --main-blue: #a7d6dc;
    --main-pink: #FFD1E3;
    --main-dark: #00008B;
    --main-green: #008000;
    --night-sky: #2c3e50;
    --moon-color: #f9f9f9;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Anek Devanagari", sans-serif;
    background: linear-gradient(to top, #62cff4, #2c67f2);
    overflow-x: hidden;
    transition: background-color 0.5s ease;
}

body.night {
    background-color: var(--night-sky);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--main-blue);
    border-bottom: 2px solid var(--main-white);
    transition: background-color 0.5s ease;
    position: sticky;
    top: 0;
    z-index: 100;
}

body.night header {
    background-color: var(--night-sky);
}

.logo {
    font-size: 3vh;
    font-weight: bold;
    font-family: "Architects Daughter", sans-serif;
    color: var(--main-dark);
}

body.night .logo {
    color: var(--moon-color);
}

.logo span {
    color: var(--main-green);
}

nav {
    position: relative;
    margin-top: 10px;
}

.menu-icon {
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--main-blue);
    background-color: var(--main-white);
    border: 3px solid transparent;
    padding: 7px 20px;
    border-radius: 25px;
    margin-left: 20px;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.09);
}

nav ul li a:hover {
    background-color: var(--main-blue);
    color: var(--main-white);
}

nav ul.active {
    display: block !important;
    float: left;
    background-color: var(--moon-color);
    color: var(--night-sky);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: url('image.png') no-repeat bottom;
    background-size: cover;
    text-align: center;
}

.tree-1 {
    position: relative;
    top: 22px;
}

.hero-content {
    color: var(--main-black);
    font-family: "Architects Daughter", sans-serif;
    font-size: 3vh;
    margin-top: 22vh;
}

body.night .hero-content {
    color: var(--moon-color);
}

.hero-content span {
    color: var(--main-green);
}

.floating-clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.cloud {
    position: absolute;
    width: 350px;
    opacity: 0.9;
    animation: float 20s infinite linear;
}

.cloud img {
    width: 100%;
    height: auto;
}

.cloud-1 {
    top: 3%;
    left: 2%;
    animation-delay: 0s;
}

.cloud-2 {
    top: 7%;
    left: -70%;
    animation-delay: 2s;
}

@keyframes float {
    0% {
        transform: translateX(-80%);
        opacity: 0.1;
    }
    50% {
        transform: translateX(100%);
        opacity: 1;
    }
    100% {
        transform: translateX(300%);
        opacity: 0;
    }
}

.sun-moon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;
}

.sun, .moon {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.8s ease;
}

.sun {
    display: block;
    background-color: yellow;
    box-shadow: 0 0 20px 5px yellow;
}

body.night .sun {
    opacity: 0;
    display: none;
}

.moon {
    display: none;
    background-color: #fff;
    box-shadow: 0 0 20px 5px #fff;
}

body.night .moon {
    opacity: 1;
    display: block;
}

#menu-items.active {
    display: block;
}

@media (max-width: 700px) {
    nav ul {
        display: none;
        background-color: var(--moon-color);
        text-align: center;
        color: var(--night-sky);
        border-radius: 20px;
        margin-top: 5px;
        width: 18vh;
        position: absolute;
        overflow: hidden;
        right: 0px;
        transform: translateX(15px);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.09);
        z-index: 1;
    }

    nav ul.active {
        display: block;
    }

    nav ul li {
        margin-top: 20px;
    }

    .menu-icon {
        display: block;
    }

    nav.active ul li {
        display: block;
        background-color: var(--moon-color);
        color: var(--night-sky);
        margin-top: 10px;
    }

    nav ul li a {
        display: block;
        text-decoration: none;
        color: var(--main-blue);
        background-color: var(--moon-color);
        transition: 0.5s ease-in-out;
        position: relative;
        border-radius: 0;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        margin: 0px 0px 20px 0px;
        width: 100%;
    }
    
    nav ul li a:hover {
        background-color: var(--main-blue);
        color: var(--main-white);
        border-radius: 10px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.09);
    }

    .hero-content {
        font-size: 3vh;
    }

    .course {
        height: 100px;
        width: 100px;
        background-color: var(--main-green);
        border-radius: 10px;
        display: inline-block;
        margin: 15px;
        text-align: center;
    }

    .about {
        padding: 55px;
    }
}

body.night .sky {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #1b2735, #2c3e50, #34495e);
    z-index: -1;
    top: 20px;
    left: 0;
    transition: 2s ease-in-out;
}

body.night .stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 90%;
    display: block;
    background: url('http://www.script-tutorials.com/demos/360/images/stars.png') repeat top center;
    z-index: 0;
}

body.night h3 {
    font-family: "Rammetto One";
    text-align: center;
    font-size: 1.75rem;
    width: 55%;
    margin: 5rem auto;
    line-height: 3rem;
    letter-spacing: 5px;
}

body.night nav ul li a {
    background-color: var(--night-sky);
    color: var(--moon-color);
}

body.night nav ul li a:hover {
    background-color: var(--main-green);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.09);
}

body.night nav ul {
    background-color: var(--night-sky);
    color: var(--moon-color);
    margin-bottom: 10px;
}

.cursor-dot {
    width: 7px;
    height: 7px;
    border-radius: 10% transparent;
    background-color: var(--main-white);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
}

.cursor-outline {
    width: 25px;
    height: 25px;
    border: 2px solid transparent;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.cursor-dot, 
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 101;
    pointer-events: none;
}

.about {
    background-color: var(--main-green);
    color: var(--main-white);
    padding: 60px;
    margin: 0;
    border-top: 4px solid var(--main-white);
    text-align: justify;
}

body.night .cursor-dot {
    background-color: var(--moon-color);
}

.menu-icon {
    color: var(--main-white);
    margin: 0;
}

.stone {
    position: relative;
    top: 34px;
}

.courses {
    padding: 60px;
    border-top: 3px solid var(--moon-color);
    background-color: var(--night-sky);
    color: var(--main-white);
}

.course {
    height: 230px;
    width: 220px;
    background-color: var(--main-green);
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: 1s ease-in;
}

.course:hover {
    color: var(--main-green);
    background-color: var(--main-dark);
}

.imagee {
    font-size: 80px;
    margin: 10px 0px;
}

.imag {
    font-size: 72px;
}

.heading {
    font-size: 3.5vh;
    padding-bottom: 10px;
}

.button-about {
    background-color: var(--main-green);
    color: var(--moon-color);
    transition: 0.4s;
    border: 1px solid var(--moon-color);
    border-radius: 26px;
    padding: 12px;
    text-decoration: none;
}

.button-about:hover {
    background-color: var(--moon-color);
    color: var(--main-green);
}

.moony {
    position: relative;
    bottom: 15px;
    right: 15px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    max-width: 300px;
    border-radius: 20px;
    margin: 20px 10px;
    text-align: center;
    display: inline-block;
    background-color: var(--main-green);
    color: var(--main-white);
}
  
.price {
    color: grey;
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    margin-top: 10px;
    padding: 20px;
    color: var(--main-green);
    background-color: var(--main-white);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 0px 0px 20px 20px;
}
  
.card button:hover {
    opacity: 0.7;
}

.card img {
    margin-top: 20px;
}

.card h1 {
    font-size: 2.5vh;
    font-weight: 300;
}

.about img {
    position: relative;
    overflow: hidden;
}

ul.icons {
    display: inline-flex;
    left: 50%;
    list-style-type: none;
}

.icons > li {
    border: 3px solid var(--moon-color);
    border-radius: 50%;
    text-decoration: none;
    color: var(--moon-color);
    background-color: var(--main-green);
    font-size: 2.2vh;
    padding: 12px 16px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons > a {
    text-decoration: none;
}

.icons>li:hover {
    color: var(--main-green);
    background-color: var(--moon-color);
    cursor: pointer;
}

a:visited {
    color: inherit; /* or specify the same color as unvisited links to remove the purple color */
}